/* global like stuff */
body {
    background-image: url("/images/base/bg.jpg");
    background-repeat: repeat;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    color: rgb(221, 217, 234);
}

strong, em {
    color: rgb(244, 247, 204);
}

h1, h2, h3, h4 {
    text-shadow: 3px 3px rgb(10, 5, 11);
}

h2 {
    font-size: 16px;
    font-style: italic;
}

a {
    color: rgb(200, 157, 53);
    text-decoration: none;
    font-weight: bold;
    text-shadow: 3px 3px rgb(10, 5, 11);
}

#alt {
    position: absolute;
    display: inline-block;
    left: 8px;
    top: 256px;
    width: 240px;
}

#main {
    position: absolute;
    display: inline-block;
    left: 256px;
    top: 256px;
    width: 512px;
}

#alt-right {
    position: absolute;
    display: inline-block;
    left: 776px;
    top: 256px;
    width: 240px;
}

/* scroll bar */
*::-webkit-scrollbar { 
  width: 9px;
}

/* scroll bar bg */
*::-webkit-scrollbar-track { 
  background-image: url("/images/base/scroll-bg.png");
  background-repeat: repeat-y;
}

*::-webkit-scrollbar-thumb {
  background-image: url("/images/base/scroll-bar.png");
}

/* box effects */
.top {
    height: 32px;
}
.bottom {
    height: 32px;
    margin-bottom: 8px;
}
.middle {
    padding-left: 24px;
    padding-right: 24px;
    overflow: hidden;
}

/* main content boxes */
#main .top {
    background-image: url("/images/main-box/top.png");
}
#main .bottom {
    background-image: url("/images/main-box/bottom.png");
}
#main .middle {
    background-image: url("/images/main-box/middle.png");
}

/* side content boxes */
#alt-right .top {
    background-image: url("/images/side-box/top.png");
}
#alt-right .bottom {
    background-image: url("/images/side-box/bottom.png");
}
#alt-right .middle {
    background-image: url("/images/side-box/middle.png");
}
#alt .top {
    background-image: url("/images/side-box/top.png");
}
#alt .bottom {
    background-image: url("/images/side-box/bottom.png");
}
#alt .middle {
    background-image: url("/images/side-box/middle.png");
}

/* main content */
#main #middle {
    position: relative;
}

/* showcases */
.showcase {
    position: relative;
    text-overflow: clip;
    width: 240px;
}
.showcase p {
    position: absolute;
    font-style: italic;
    margin-top: 4px;
    margin-left: 16px;
    font-family: monospace;
}

/* banner at the top */
#banner {
    position: absolute;
    left: 512px;
    top: 32px;
}
#char {
    position: absolute;
    left: 8px;
    top: 64px;
}
