#clock {
    height: 363px;
    position: relative;
    padding-left: 20px;
}

#clock-hr-10 {
    z-index: 2;
    position: absolute;
    left: 34px;
    top: 304px;
}
#clock-hr-1 {
    z-index: 2;
    position: absolute;
    left: 72px;
    top: 304px;
}
#clock-dots {
    z-index: 2;
    position: absolute;
    left: 104px;
    top: 304px;
}
#clock-min-10 {
    z-index: 2;
    position: absolute;
    left: 130px;
    top: 304px;
}
#clock-min-1 {
    z-index: 2;
    position: absolute;
    left: 168px;
    top: 304px;
}